<section id="Droit" class="contact">
    <div class="container" data-aos="fade-up">

        <div class="section-title">
            <h2>Ifqirn - les anciens</h2>
        </div>

        Salut à toutes et à tous,<br/>
         Nous avons le  plaisir de vous inviter à l'évènement que nous organisons avec la ville de Gennevillier, le Samedi 25 Mars 2026,
        intitulé "Ifqirn - les anciens", de 13H00 à 19H00.<br/>
        Au programme:
        <ul>
            <li> 1-Projection du film "Qu'Allah bénisse Moura>>(1er fois en Europe)</li>
            <li> 2-Un talk avec plusieurs Ifqirn (chibanis) qui partageront leurs histoires</li>
            <li> 3-Exposition photo</li>
            <li> 4-Stands présentant des objets de la culture marocaine</li>
            <li> 5-Buvette  tenue  par des mamans</li>
            <li> 6-Clôture avec une troupe d'Ahwach</li>

        </ul>

        L'évènements est gratuit et ouver à toutes et à tous. Venez nombreuses et nombreux, et n'hésitez pas à partager l'informations autour de vous
        et sur les réseaux sociaux.



<div class="container d-flex align-items-center justify-content-center" data-aos="fade-up" data-aos-delay="100">
    <a href="assets/img/ifqirn_event.pdf" alt="" class="img-fluid"> Le programme complet</a></div>

    </div>
</section>
