
<section id="wadda" class="contact">
    <div class="container" data-aos="fade-up">

        <div class="section-title">
            <h2>l'wada n'telba</h2>
        </div>

        <div class="intro-text text-center mb-5">
            <p class="lead">Salut à toutes et à tous,</p>
            <p>  Vous êtes cordialement conviés 01 / 05 /{{dateWadaa}}  <strong>à partir du 11H00 </strong></p>
            <p class="text-muted"> L'évènement aura lieu à l'adresse suivante :<strong>   400, rue du marché Rollay
                <br>94500 Champigny-sur-Marne</strong></p>
        </div>

    </div>
</section>