
<section id="Droit" class="contact">
  <div class="container" data-aos="fade-up">

    <div class="section-title">
      <h2>Accès au droits</h2>
    </div>

       En ce jour de l Wahda n’Telba a lmdrassa n Atika n Irsmouken,
      l’association Espoir du Sud Imazalen Irsmouken souhaite faire un point sur
      les démarches que nous avons faites avant nos congés s’agissant du sujet de la situation d’Amlal et du domaine public de Tiznit.
      Nous avons envoyé le 22 juin plusieurs courriers aux différentes administrations concernées et au Chef du Gouvernement pour faire part de notre mécontentement et de nos demandes.
      Ci-joint, le  lien de la lettre adressé au chef du gouvernement


    <div class="container d-flex align-items-center justify-content-center" data-aos="fade-up" data-aos-delay="100">
      <a href="assets/img/lettre.doc" alt="" class="img-fluid"> Lettre pour le Chef du Gouvernement sur le domaine public </a>



    </div>

  </div>
</section>
